{% extends '@EasyAdmin/page/content.html.twig' %}

{% block content_title %}Sklep{% endblock %}

{% block main %}

    <link href="{{ asset('assets/css/alerts.css') }}" rel="stylesheet">

    <style>
        badge {
            color: #212529;
        }
        @media (prefers-color-scheme: dark) {
            .badge {
                color: white;
            }
        }
    </style>

    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>

    <div>
        <div class="row">
            {% for app in applications %}
                <div class="col-12 col-md-6 p-1">
                    <div class="item border-primary border-1 p-3">
                        <h4 class="ms-1 pt-2 pb-2">{{ app.name }}</h4>
                        <dl class="datalist">
                            <div class="data-row field-text">
                                <dt>Description:</dt>
                                <dd>
                                    <div>
                                        {% if app.description is null or app.description is empty %}
                                            <span class="badge badge-secondary">NULL</span>
                                        {% else %}
                                            {{ app.description|raw }}
                                        {% endif %}
                                    </div>
                                </dd>
                            </div>
                            <div class="data-row field-text">
                                <dt>Video URL:</dt>
                                <dd>
                                    <div>
                                        {% if app.videoUrl is null or app.videoUrl is empty %}
                                            <span class="badge badge-secondary">NULL</span>
                                        {% else %}
                                            <a href="{{ app.videoUrl }}">{{ app.videoUrl }}</a>
                                        {% endif %}
                                    </div>
                                </dd>
                            </div>
                            <div class="data-row field-text">
                                <dt>By:</dt>
                                <dd>
                                    <div>
                                        {% if app.admin is null %}
                                            <span class="badge badge-secondary">NULL</span>
                                        {% else %}
                                            <span>{{ app.admin }}</span>
                                        {% endif %}
                                    </div>
                                </dd>
                            </div>
                            <div class="data-row field-text">
                                <dt>Genre:</dt>
                                <dd>
                                    <div>
                                        {% if app.genre is null %}
                                            <span class="badge badge-secondary">NULL</span>
                                        {% else %}
                                            <span>{{ app.genre }}</span>
                                        {% endif %}
                                    </div>
                                </dd>
                            </div>
                            <div class="data-row field-text">
                                <dt>Active licences:</dt>
                                <dd>
                                    <div>
                                        <span class="badge badge-secondary">{{ app.licences.count }}</span>
                                    </div>
                                </dd>
                            </div>
                            <div class="data-row field-text">
                                <dt>Releases:</dt>
                                <dd>
                                    <div>
                                        <span class="badge badge-secondary">{{ app.releases.count }} </span>
                                    </div>
                                </dd>
                            </div>
                            {% if app.releases.count > 0  %}
                                <div class="data-row field-text">
                                    <dt>First release:</dt>
                                    <dd>
                                        <div>
                                            <span class="badge badge-secondary">{{ app.getFirstRelease.createdAt|date('Y-m-d H:i') }}</span>
                                        </div>
                                    </dd>
                                </div>
                                <div class="data-row field-text">
                                    <dt>Last release:</dt>
                                    <dd>
                                        <div>
                                            <span class="badge badge-secondary">{{ app.getLastRelease.createdAt|date('Y-m-d H:i') }}</span> ::
                                            <span class="badge badge-secondary">{{ app.getLastRelease.version }}</span>
                                        </div>
                                    </dd>
                                </div>
                            {% endif %}
                        </dl>
                        <div class="d-flex justify-content-between mt-3">
                            <div>
                                <span class="badge badge-info p-2">Cena:<b> {{ app.cost }} PLN</b></span>
                            </div>
                            <div>
                                <button class="btn btn-primary p-1 ps-2 pe-2 buy-button" data-id="{{ app.id }}">Kup</button>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>



    <script>
        $(document).ready(function() {
            $('.buy-button').on('click', function () {
                var id = $(this).attr('data-id');
                var path = "{{ path('app_payment', {'id': 'id'}) }}";
                path = path.replaceAll('id', id);

                window.location.href = path;
            })
        });
    </script>

{% endblock %}